main
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 7%;
}

.my_list
{
    font-size: 6em;
}

.list
{
    width: 100vw;
}

.list > ul
{
    list-style: none;

    display: grid;
    gap: 5em;

    margin-right: 2.5em;
}

.list > ul > li
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
}

.l_position
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.block
{
    width: 80vw;
    background: rgba(10, 0, 0, 0.78);
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    text-align: center;

    color: white;
}

.number
{
    color: white;

    width: 8em;
    height: 8em;
    border-radius: 50%;

    border: 3px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: auto;
    margin-right: 1em;

    display: flex;
    align-items: center;
    text-align: center;
}

.number > p
{
    font-size: 4em;
    width: 100vw;
    text-align: center;

}

.block > img
{
    width: 10vw;
    border-radius: 10px;
}

.game-name
{
    border: 3px solid #FFFFFF;
    border-radius: 50px;

    width: 50%;
    margin: auto;
    margin-left: 1em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-size: 3em;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.rate
{
    font-size: 6em;
    margin: auto;
    margin-left: 1em;
    text-align: left;
}