main
{
    position: relative;
    top: 30vh;
    width: 100vw;
}

main > ul
{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 0;
}

li
{
    margin: auto;
}

.stats
{

    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    width: 50vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 2%;
}

main > ul > li:last-child
{
    margin-top: 4%;
}

h1
{
    margin: 0;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

hr
{
    margin-top: 0;
    width: 90%;
}

#all-games, #average, #hours, #likes
{
    color: #01FF01;
}

.likes-name
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.likes-name > h1
{
    margin-right: 0.5em;
}

.likes-name > i
{
    font-size: 2em;
    margin: auto;
    color: red;
}


@media only screen and (max-device-width: 420px)
{
    main
    {
        top: 10vh;
    }

    main > ul
    {
        text-align: center;
        list-style-position: inside;
        margin-bottom: 2%;
    }

    li
    {
        padding-right: 17%;
    }

    .stats
    {
        border-radius: 30px;
        width: 80vw;
        margin-top: 15%;
        margin-left: 2%;
    }

    main > ul > li:last-child
    {
        margin-top: 15%;
    }

    h1
    {
        margin-top: 0.4em;
        margin-bottom: 0.3em;
    }

    .likes-name > i
    {
        font-size: 1.5em;
    }

    #all-games, #average, #hours, #likes
    {
        font-size: 1.5em;
        margin: 0.6em auto;
    }
}
